.Home {
  background-color: #282c34;
  &-header {
    color: white;
    display: flex;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    height: 4em;
  }
  &-content {
    height: calc(100vh - 4em);
  }
}
