.big-button {
  background: transparent;
  border: 0.15em solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(130deg, #742898, #9A283C, #EF7835);
  font-size: 1rem;
  line-height: 0.3em;
  padding: 1rem 2rem;
  text-decoration: none;
}
